/* Name: Michael Stroet
   Student number: 11293284 */
body{
    background: #f5f5f0;
}

text {
    font: 14px Verdana;
}

text.title {
    font: 15px Verdana;
}

html {
    font: 14px Verdana;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/* Reset buttons styles */

.resetButton {
    width: 100%;
    text-align: center;
}
.selectionButton {
    width: 100%;
    text-align: center;
}

/* Hertzsprung-Russell diagram styles */
.star {
    stroke: black;
}

.star:hover {
    fill: lime;
}

/* Pichart styles */
.wedge {
    stroke: black;
    stroke-width: 2px;
    opacity: 0.7;
}

.wedge:hover {
    opacity: 1.0
}

/* Histogram styles */
.bar {
    fill: royalblue;
}

.bar:hover {
     fill: crimson;
}

/* tooltip styles */

.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(0,0,0,.8);
    border: 2px solid black;
    pointer-events: none;
}
