/* Name: Michael Stroet
   Student number: 11293284 */

.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(0,0,0,.8);
    border: 2px solid black;
    pointer-events: none;
}

.tooltip#HR-diagram {
     width: 160px;
     height: 35px;
}

.tooltip#piechart {
     width: 125px;
     height: 35px;
}

.tooltip#temperature {
     width: 160px;
     height: 35px;
}

.tooltip#mass-radius {
     width: 125px;
     height: 35px;
}
