/* Name: Michael Stroet
   Student number: 11293284 */

.HR-tooltip {
     color: white;
     position: absolute;
     text-align: center;
     width: 160px;
     height: 35px;
     padding: 2px;
     font: 12px sans-serif;
     background: rgba(0,0,0,.8);
     border: 2px solid black;
     pointer-events: none;
}

.pie-tooltip {
     color: white;
     position: absolute;
     text-align: center;
     width: 125px;
     height: 35px;
     padding: 2px;
     font: 12px sans-serif;
     background: rgba(0,0,0,.8);
     border: 2px solid black;
     pointer-events: none;
}

.temperature-tooltip {
     color: white;
     position: absolute;
     text-align: center;
     width: 160px;
     height: 35px;
     padding: 2px;
     font: 12px sans-serif;
     background: rgba(0,0,0,.8);
     border: 2px solid black;
     pointer-events: none;
}

.mass-radius-tooltip {
     color: white;
     position: absolute;
     text-align: center;
     width: 125px;
     height: 35px;
     padding: 2px;
     font: 12px sans-serif;
     background: rgba(0,0,0,.8);
     border: 2px solid black;
     pointer-events: none;
}
